<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lemundo_product_landing_page>
            <general>
                <default_pagesize>10</default_pagesize>
                <default_sortfield>sku</default_sortfield>
                <default_sortorder>ASC</default_sortorder>
            </general>
        </lemundo_product_landing_page>
    </default>
</config>
